<div class="footer-main container-fluid rounded">
	<hr>
	<div class="row footer align-content-center">
		<div class="col-md-6 text-center">
			<b class="footer-title"
			   style="margin-top: 20px;">Powerd by</b><a class="powered">Data.io</a>
		</div>
		<div class="col-md-6 text-center">
			<b class="footer-title">Quick Links</b>
			<a class="links"
			   routerLink="/terms">Terms & Conditions</a>
			<a class="links"
			   routerLink="/privacy">Privacy Policy</a>
			<a class="links"
			   routerLink="/refund">Refund Policy</a>

		</div>
	</div>
	<div class="row d-flex justify-content-center copyright">© 2020 Copyright: <a class="powered">Data.io</a></div>
</div>